<footer>
  <small>&copy; {% year %} Built with <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> & <a href="https://simplecss.org">Simple.css</a> • <a href="{{site.authorUrl}}">{{site.authorName}}</a> • <a href="{{site.github}}">GitHub</a></small>
</footer>